body {
  background-color: #FFE699;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
audio::-webkit-media-controls-panel {
  background-color: #FFF9B6;
}
audio::-webkit-media-controls-play-button:hover {
  background-color: #FFE699;
}

#box {
  background-color: #FFF9B6;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  height: 900px;
  width: 600px;
}
#linksBox {
  text-align: center;
  margin: auto;
  opacity: 65%;
  border-radius: 30px;
}
#linksBox a {
  padding: 0px 5px;
}
#linksBox a img {
  border-radius: 7px;
  box-shadow: 0px 0px 2px 1px blue;
}
#linksBox:hover {
  opacity: 100%;
}
#heading {
  font-size: 30px;
  text-align: center;
  color: snow;
  text-shadow: 0px 4px 5px rgb(24, 25, 88);
  font-family: "j'aime le poisson !", "Trebuchet ms";
}
#backdrop {
  top: 2em;
  margin: auto;
  position: relative;
  background-color: #FBFBFB;
  border-radius: 20px;
  height: 750px;
  width: 400px;
}
.buttonBox {
  position: relative;
  margin: 1rem;
}
/*button {
  margin-top: 2em;
  margin-right: 0.4em;
  color: black;
  background-color: rgb(243, 240, 255);
  box-shadow: 0px 1px 2px 1px rgb(73, 75, 184);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: larger;
  transition: 0.1s linear;
}
button:hover {
  background-color: rgb(248, 252, 255);
  box-shadow: 0px 2px 4px 1px rgb(73, 75, 184);
}
<!-- HTML !-->
<button class="button-30" role="button">Button 30</button>*/


/* CSS */
button {
  margin-top: 2em;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

footer {
  margin-top: 10px;
  background-color: #EAA568;
  text-align: center;
  /*font-family: 'Indie Flower', cursive;*/
  font-weight: 300;
  color: #FFF9B6;
  text-decoration: none;
  font-size: 12pt;
}

#hairback {
  position: absolute;
  height: 750px;
  width: 400px;
}

#body {
  background-image: url("./image/body.PNG");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 1;
}
#top {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 3;
}
#bottom-out {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 5;
}

#bottom {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 2;
}

#coat{
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 6;
}

#shoes {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 4;
}
#hair {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 2;
}
#face {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 2;
}
#hat {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 3;
}
#other {
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 0;
}


/*.top1 {
  background-image: url("./image/top1.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 750px;
  width: 400px;
  z-index: 4;
}*/
.top2 {
  background-image: url("./image/top02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top3 {
  background-image: url("./image/top03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top4 {
  background-image: url("./image/top04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top5 {
  background-image: url("./image/top05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top6 {
  background-image: url("./image/top06.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top7 {
  background-image: url("./image/top07.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top8 {
  background-image: url("./image/top08.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top9 {
  background-image: url("./image/top09.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top10 {
  background-image: url("./image/top12.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top11 {
  background-image: url("./image/top12.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top12 {
  background-image: url("./image/top13.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top13 {
  background-image: url("./image/top15.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top14 {
  background-image: url("./image/top16.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top15 {
  background-image: url("./image/top17.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top16 {
  background-image: url("./image/top18.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top17 {
  background-image: url("./image/top19.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.top18 {
  background-image: url("./image/top20.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}




.bottom1 {
  background-image: url("./image/bottom02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 2;
}
.bottom-out2 {
  background-image: url("./image/bottom03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 6;
}
.bottom3 {
  background-image: url("./image/bottom04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom4 {
  background-image: url("./image/bottom05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom-out5 {
  background-image: url("./image/bottom06.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 5;
}
.bottom-out6 {
  background-image: url("./image/bottom07.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 5;
}
.bottom7 {
  background-image: url("./image/bottom08.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom8 {
  background-image: url("./image/bottom10.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom9 {
  background-image: url("./image/bottom11.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom10 {
  background-image: url("./image/bottom12.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom11 {
  background-image: url("./image/bottom13.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom12 {
  background-image: url("./image/bottom14.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom13 {
  background-image: url("./image/bottom15.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}
.bottom14 {
  background-image: url("./image/bottom16.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 4;
}


.coat1 {
  background-image: url("./image/coat01.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat2 {
  background-image: url("./image/coat02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat3 {
  background-image: url("./image/coat03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat4 {
  background-image: url("./image/coat04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat5 {
  background-image: url("./image/coat05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat6 {
  background-image: url("./image/coat06.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat7 {
  background-image: url("./image/coat07.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.coat8 {
  background-image: url("./image/coat08.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}

.shoes1 {
  background-image: url("./image/shoes02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes2 {
  background-image: url("./image/shoes03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes3 {
  background-image: url("./image/shoes04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes4 {
  background-image: url("./image/shoes05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes5 {
  background-image: url("./image/shoes06.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes6 {
  background-image: url("./image/shoes07.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes7 {
  background-image: url("./image/shoes08.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.shoes8 {
  background-image: url("./image/shoes09.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}


/*.hat1 {
  background-image: url("./image/head01.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}*/
.hat1 {
  background-image: url("./image/a-head01.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat2 {
  background-image: url("./image/a-head02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat3 {
  background-image: url("./image/a-head03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat4 {
  background-image: url("./image/a-head04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat5 {
  background-image: url("./image/a-head05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat6 {
  background-image: url("./image/a-head06.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat7 {
  background-image: url("./image/a-face01.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat8 {
  background-image: url("./image/a-face02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat9 {
  background-image: url("./image/a-face03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat10 {
  background-image: url("./image/a-hand01.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat11 {
  background-image: url("./image/a-hand02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat12 {
  background-image: url("./image/a-hand03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat13 {
  background-image: url("./image/a-hand04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat14 {
  background-image: url("./image/a-hand05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat15 {
  background-image: url("./image/a-dress.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat16 {
  background-image: url("./image/a-foot01.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hat17 {
  background-image: url("./image/a-foot02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}


.hair1 {
  background-image: url("./image/hair02.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair2 {
  background-image: url("./image/hair03.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair3 {
  background-image: url("./image/hair04.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair4 {
  background-image: url("./image/hair05.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair5 {
  background-image: url("./image/hair06.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair6 {
  background-image: url("./image/hair07.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.hair7 {
  background-image: url("./image/hair08.PNG");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}


.face1 {
  background-image: url("./image/face1.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.face2 {
  background-image: url("./image/face2.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.face3 {
  background-image: url("./image/face3.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.face4 {
  background-image: url("./image/face4.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}
.face5 {
  background-image: url("./image/face5.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  width: 400px;
}

